<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://twtchg0sql02.corp.jabil.org/SPP_testing/QUOTEv3/Files/QuoteApp/Quote.Mobile101.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://twtchg0sql02.corp.jabil.org/SPP_testing/QUOTEv3/Files/QuoteApp/icon_1.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://twtchg0sql02.corp.jabil.org/SPP_testing/QUOTEv3/Files/QuoteApp/icon_1.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jabil.quote</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Quote</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
